.flex-container{
    display: flex;
    flex-wrap: nowrap;
    background-color: azure;
    justify-content: space-between;
}

.flex-container > div{
    background-color: lightsalmon;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    
}



@media (min-width: 576px) and (max-width: 767.98px){
    body{
        background-color: blueviolet;
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    body{
        background-color: blue;
    }
}

@media (min-width: 200px) and (max-width: 575.98px){
    body{
        background-color: aqua;
        
    }

    .flex-container{
        flex-direction: column;
    }
}

